p,h1,h2,h3,h4,h5, form{
    text-indent: 50px;
}

.box{
    text-indent: 50px;
}

td{
    font-weight: bold;
}

tr{
    margin-left:50px;
}

.inputtypeindent
{
    margin-left:50px;
    padding-top:5px;
}
.trred
{
    background-color:#ff0000;margin:0;border:0;padding:0;
    margin-left:50px;
}

.trnormal
{
    background-color:#ffffff;margin:0;border:0;padding:0;
    margin-left:50px;
}